<h2>History</h2>
<% if flash[:message] %>
<h4 style="color: green;"><%= flash[:message] %></h4>
<% end %>
<% if flash[:error] %>
<h4 style="color: red;"><%= flash[:error] %></h4>
<% end %>
<br>
<p>Exercise: <%= @exercise.name %>  <strong>Date: <%= @exercise.date_performed %></strong><br>
Max Lift: <%= @exercise.max_lift %>lbs</p>

<a href="/exercises/<%= @exercise.id %>/edit">Edit</a>
<br><br>
<form class="" action="/exercises/<%= @exercise.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete">
</form>
<br>
<p>
<% if logged_in? %>
<a href="/exercises">History</a>
<a href="/exercises/new">Track</a>
<a href="/logout">Logout</a>
<% end %>
</p>
